body {
    display: flex;                
    justify-content: center;      
    align-items: center;         
    height: 100vh;                
    background-color: #f0f0f0;
    margin: 0;                   
    text-align: center;  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;       
  }
  
  .drawing-area {
    border: 2px solid black;      
    padding: 10px;                
    background-color: white;     
  }
  
  canvas {
    border: 1px solid #000000;       
    cursor: crosshair;            
  }

 